body{
    background-color: beige;
}
h1{
    font-family: arial
}

header{
    border: 3px solid burlywood;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 224, 0.441);
    backdrop-filter: blur(3px);
    box-shadow: burlywood 5px 5px 5px;
}

nav{
    display: flex;
    justify-content: space-evenly;
}

a{
    font-family: arial;
    color: brown;
}

h2{
    font-family: arial;
}
p{
    font-family: arial;
}
section{
    padding-top: 100px;
    padding-bottom: 600px;
}